
@model HRManagement.Models.Trainer
@{ ViewBag.Title = "Details";
}


<ul>
    <li>#: @Model.Id</li>
    <li>Full Name: @Model.FullName</li>
    <li>Date of birth: @Model.DateOfBirth</li>
    <li>Email: @Model.EmailAddress</li>
    <li>Working Place: @Model.WorkingPlace</li>
    <li>Type: @Model.Type</li>    
</ul>

@Html.ActionLink("Back to Index", "Index", "Trainers",
    null,
    new { @class = "btn btn-primary" })
