@model  IEnumerable<HRManagement.Models.Trainer>
@{
    ViewBag.Title = "Index";
}
<h2>List of Trainer</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Email</th>
            <th>Assigned Courses</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.FullName</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Email</td>
                <td>@item.Course.Name</td>
                <td>
                    @Html.ActionLink("View Profile", "Details", "Trainers",
                                       new { id = item.Id },new { @class = "btn btn-primary"})
                    @Html.ActionLink("Update Profile", "Update", "Trainers",
                                       new { id = item.Id },new { @class = "btn btn-danger"})
                    @Html.ActionLink("Delete", "Delete", "Trainers",
                                       new { id = item.Id },new { @class = "btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>


