@model  IEnumerable<HRManagement.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}
<h2>List of Trainer</h2>
<div class="form-group">
    @using (Html.BeginForm("Index", "Todoes", FormMethod.Get))
    {
        @Html.TextBox("searchString", "")
        <button type="submit"><i class="fa fa-search"></i></button>
    }

</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.UserName</td>
                <td>@item.Email</td>             
                <td>
                    @Html.ActionLink("View Profile", "Details", "Trainers",
                                       new { id = item.Id}, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Update Profile", "Update", "Trainers",
                                       new { id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Delete", "Delete", "Trainers",
                                       new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("My Course", "ViewAssignedCourses", "Trainers",
                                       new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>


