@model IEnumerable<HRManagement.Models.Trainer>
@{
    ViewBag.Title = "TrainerList";
}

<h2>List Of Trainers</h2>

<div class="form-group">
    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })
</div>




    <div class="form-group">
        @Html.ActionLink("Create New Trainer", "Register", "Account", null, new { @class = "btn btn-success" })
    </div>



@using (Html.BeginForm("ListTrainers", "Admin", "POST"))
{
    <div class="form-group">
        @Html.TextBox("searchString", "")
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
}




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Trainer Name</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>

                
                <td>
                    @Html.ActionLink("Reset Password", "ResetTrainer", "Account", new { id = item.TrainerId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Update Profile", "UpdateTrainer", "Admin", new { id = item.TrainerId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteTrainer", "Admin", new { id = item.TrainerId }, new { @class = "btn btn-danger" })
                </td>
                
            </tr>
        }
    </tbody>
</table>