@model IEnumerable<HRManagement.Models.Trainee>
@{
    ViewBag.Title = "ListTrainees";
}

<h2>List Of Trainees</h2>

<div class="form-group">
    @Html.ActionLink("Back", "Index", "Staff", null, new { @class = "btn btn-default" })
</div>




<div class="form-group">
    @Html.ActionLink("Create New Trainee", "Register", "Account", null, new { @class = "btn btn-success" })
</div>



@using (Html.BeginForm("ListTrainees", "Staff", "POST"))
{
    <div class="form-group">
        @Html.TextBox("searchString", "")
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
}




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Trainee Name</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>

                <td>                   
                    @Html.ActionLink("Update Profile", "UpdateTrainee", "Staff", new { id = item.TraineeId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteTrainee", "Staff", new { id = item.TraineeId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

